// General styling is in variables/colors.scss.
// Every class is included for modification.
.mybar-dashboard {
  color: $saphire;
  background-color: $bg;
  border-radius: 10px;
}
.mybar-launch { 
  background-color: $bg;
  border-radius: 10px;
}
.mybar-layout {
  background-color: $bg;
  border-radius: 10px;
}
.mybar-tags {
  font-size: 22px;
  background-color: $bg;
  border-radius: 10px;
  button {
    &:hover{
    background-color: $bg;
    color: $fg;
    }
  }
}
.active {
  color: $saphire;
}
.inactive {
  color: $alt2;
}
.volume-off {
  color: $red;
}
.mybar-volume {
  background-color: $bg;
  border-radius: 10px;
  color: $fg;
  button {
    &:hover {
      background-color: $bg;
      color: $saphire;
    }
  }
}
.mybar-volume scale trough highlight {
  background-color: $saphire;
  border-radius: 50px;
}
.mybar-volume scale trough {
  background-color: $alt2;
  border-radius: 50px;
  min-height: 100px;
  min-width: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.bright_low {
  color: $red;
}
.mybar-brightness {
  color: $fg;
  background-color: $bg;
  border-radius: 10px;
  button {
    &:hover {
      background-color: $bg;
      color: $saphire;
    }
  }
}
.mybar-brightness scale trough highlight {
  background-color: $saphire;
  border-radius: 50px;
}
.mybar-brightness scale trough {
  background-color: $alt2;
  border-radius: 50px;
  min-height: 100px;
  min-width: 10px;
  margin-left: 5px;
  margin-right: 5px;
}
.mybar-bat {
  background-color: $bg;
  border-radius: 10px;
}
.fully-charged {
  color: $saphire;
}

.good {
  color: $green;
}

.mid {
  color: $yellow;
}

.bad {
  color: $red;
}

.critical {
  color: $red;
}
.num-off {
  color: $fg;
  background-color: $bg;
  border-radius: 10px;
}
.num-on {
  background-color: $bg;
  border-radius: 10px;
}
.caps-off {
  color: $fg;
  background-color: $bg;
  border-radius: 10px;
}
.caps-on {
  background-color: $bg;
  border-radius: 10px;
}
.mybar-date {
  color: $fg;
  font-size: 30px;
  background-color: $bg;
  border-radius: 10px;
}
.bar-power {
  background-color: $bg;
  border-radius: 10px;
}


.settings-btn {
  color: $green;
  background-color: $bg;
  border-radius: 10px;
  button {
    &:hover {
      background-color: $bg;
      color: $fg;
    }
  }
}

.clock {
  color: $magenta;
  font-size: 27px;
  background-color: $bg;
  border-radius: 10px; 
}

.power-menu-btn {
  color: $red;
  background-color: $bg;
  padding: 10px;
  padding-top: 20px;
  button {
    padding-bottom: 10px;
    &:hover {
      background-color: $bg;
      color: $fg;
    }
  }
}
.sissytray {
  color: $magenta;
  font-size: 27px;
  background-color: $bg;
  padding-bottom: 5px;
  padding-top: 5px;
}
.dashboard-btn {
  color: $red;
  background-color: $bg;
  button {
    padding: 10px;
    &:hover {
      background-color: $bg;
      color: $fg;
    }
  }
}
