.barBox {
  background-color: $crust;
  border-radius: 10px;
  border: 5px solid $base;
}
.barEvent {
  &:hover {
    background-color: $surface1;
    border-radius: 5px;
    color: $sky;
  }
}
.singleIcon {
  font-size: 23;
}
.off {
  color: $red;
  font-size: 23;
}
.on {
  color: $green;
  font-size: 23;
}

.good {
  color: $green;
  font-size: 23;
  //padding: 5px;
}
.mid {
  color: $yellow;
  font-size: 23;
  //padding: 5px;
}
.critical {
  color: $red;
  font-size: 23;
  //padding: 5px;
}

.list {
  margin: 0px 5px;
}
.list-first {
  margin: 0px 0px 0px 10px;
}
.list-last {
  margin: 0px 10px 0px 0px;
}
.list2-first {
  margin: 0px 0px 0px 10px;
}
.list2-last {
  margin: 0px 10px 0px 0px;
}



.time {
  background-color: $crust;
  border-radius: 10px;
  border: 5px solid $base;
}
.time-text {
  padding-left: 5px;
  padding-right: 5px;
}

.sissytray {
  padding: 0px 10px;
}

.workspaceScroll {
  background-color: $crust;
  border-radius: 10px;
  border: 5px solid $base;
}
.workspace-entry {
  margin: 0px 5px;
}
.workspace-entry.current {
  color: $sky;
}
.workspace-entry.occupied {
}
.workspace-entry.empty {
}


.mybar-volume scale trough highlight {
  background-color: $sky;
  border-radius: 50px;
}
.mybar-volume scale trough {
  background-color: $surface1;
  border-radius: 50px;
  min-height: 20px;
  min-width: 100px;
  margin-left: 5px;
  margin-right: 5px;
}

.nums {
  margin: 0px 3px 0px 10px; 
}
.caps {
  margin: 0px 10px 0px 3px; 
}

