*{
  all: unset;
}
.myapplauncher {
  background-color: $bg;
  color: $saphire;
  border-radius: 10px;
  padding: 10px;
 }
.app-launcher {
  background-color: $bg;
  background-repeat: no-repeat;
	  background-size: 48px;
	  min-height: 48px;
	  min-width: 48px;
	  margin: 5px 5px 0px 5px;
}
.something {
  background-color: $bg;
  box-shadow: 10px 10px 10px 10px black;
  
}
