$bg_dim: #EFEBD4;
$bg0: #FDF6E3;
$bg1: #F4F0D9;
$bg2: $bg_dim;
$bg3: #E6E2CC;
$bg4: #E0DCC7;
$bg5: #BDC3AF;
$bg_red: #FBE3DA;
$bg_visual: #EAEDC8;
$bg_yellow: #FAEDCD;
$bg_green: #F0F1D2;
$bg_blue: #E9F0E9;
$red: #F85552;
$orange: #F57D26;
$yellow: #DFA000;
$green: #8DA101;
$blue: #3A94C5;
$aqua: #35A77C;
$purple: #DF69BA;
$fg: #5C6A72;
$statusline1: #93B259;
$statusline2: #708089;
$statusline3: #E66878;
$gray1: #A6B0A0;
$gray2: #939F91;
$gray3: #829181;

$crust: #dce0e8;
$base: #eff1f5;
$surface1: #bcc0cc;
$overlay1: #8c8fa1;
$subtext1: #5c5f77;
$text: #4c4f69;

$sky: #04a5e5;
$sapphire: #209fb5;
$lavender: #7287fd;
$black: #000000;

$PMBackground: rgba(0, 0, 0, 0.6);
//$PMBackground: #d20f39;


