$bg:#282828; // {< rcol(data.colors.background) >}
$fg:#ebdbb2; // {< rcol(data.colors.foreground) >}
$hover:rgba(#928374, 0.5); // {< rcol(data.colors.whiteDark) >}
$active:rgba(#a89984, 0.6); // {< rcol(data.colors.whiteLight) >}


$red:#fb4934; // {< rcol(data.colors.redLight) >}
$green:#b8bb26; // {< rcol(data.colors.greenLight) >}
$yellow:#fabd2f; // {< rcol(data.colors.yellowLight) >}
$blue:#83a598; // {< rcol(data.colors.blueLight) >}
$cyan:#8ec07c; // {< rcol(data.colors.cyanLight) >}
$cyanDark:#689d6a; // {< rcol(data.colors.cyanDark) >}
$white:#a89984; // {< rcol(data.colors.whiteLight) >}
$whiteDark:#928374; // {< rcol(data.colors.whiteDark) >}
$blackDark:#3c3836; // {< rcol(data.colors.blackDark) >}




$orange:#fe8019; // {< rcol(data.colors.accentLight) >}

