@import "topbar/topBar.scss";
@import "powermenu/powermenu.scss";

* {
  font-family: "FiraCode Nerd Font Propo";
}

.hSpacer {
  font-size: 10;
}
.default {
  font-size: 20;
  background-color: $red;
  color: $fg;
  //border-radius: 8px;
  //box-shadow: 0 0 4px 2px $black;
  //margin: 10px 10px 8px 10px;
}

// BACKGROUNDS
.bg-transparent {
  background-color: transparent; 
}
.bg-fg {
  background-color: $fg;
}
.bg-red {
  background-color: $red;
}
.bg-green {
  background-color: $green;
}

// FOREGROUNDS
.fg-dark {
  color: $bg;
}

// ROUNDED CORNERS
.round-corners {
  border-radius: 10px;
}
.border-radius-bottom-left-10 {
  border-radius: 0 0 0 10px;
}
// Inverse rounded corners
.inverse-corner-top-left-10 {
  background-color: transparent;
  border-radius: 0 10px 0 0;
  box-shadow: $bg 10px -10px;
}

// MARGINS
.margin-h5 {
  margin: 0 5px;
}
.margin-5 {
  margin: 5px;
}
.margin-bottom5 {
  margin-bottom: 5px;
}
.margin-bottom-8 {
  margin-bottom: 10px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}

//SHADOW

.shadow-bottom {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.4), 0 4px 3px 0 rgba(0, 0, 0, 0.4);
}
