*{ all: unset }

.dashboard-song {
  background-color: $bg;
  color: $saphire;
  border-radius: 10px;
 }
.song-title {
  font-size: 25px;
  font-weight: bold;
  padding-top: 10px;
}
.song-artist {
  font-size: 14px;
  color: $fg;
  padding-left: 10px;
  padding-right: 10px;
}
.cover-art {
  padding: 10px;
  border-radius: 10px;
}
.spacer {
  color: $bg;
  font-size: 2px;
}
.song-button {
  font-size: 55px;
  margin-left: 10px;
  button {
    &:hover{
      background-color: $bg;
      color: $fg;
    }
  }
}
.song-length {
  font-size: 16px;
  font-weight: bold;
}
.song-length scale trough highlight {
  background-color: $saphire;
  border-radius: 50px;
}
.song-length scale trough {
  background-color: $alt2;
  border-radius: 50px;
  min-height: 10px;
  min-width: 200px;
  margin-left: 5px;
  margin-right: 5px;
}

.system-monitor {
  font-size: 25px;
  background-color: $bg;
}
.system-monitor scale trough highlight {
  background-color: $saphire;
  border-radius: 50px;
}
.system-monitor scale trough {
  background-color: $alt2;
  border-radius:50px;
  min-height: 15px;
  min-width: 190px;
  //margin-left: 5px;
  margin-right: 5px;
}
.sysmon-title {
  font-size: 15px;
  padding-top: 10px;
  color: $fg;
  font-weight: bold;
}
.sysmon-sep {
  font-size: 10px;
  color: $alt2;
}
.sysmon-icon {
  font-size: 35px;
  background-color: $bg;
  padding-left: 10px;
  padding-right: 10px;
}
.sysmon-text {
  font-size: 15px;
  background-color: $bg;
  //margin-left: 5px;
}
.sysmon-uptime {
  font-size: 20px;
  background-color: $bg;
  //margin-left: 5px;
}

.waifu {
  background-color: $bg;
  color: $saphire;
  border-radius: 10px;
 }
.waifu-art {
  padding: 10px;
  padding-top: 20px;
  border-radius: 10px;
}
.waifu-title {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
}
.waifu-text {
  font-size: 14px;
  color: $fg;
  padding-left: 10px;
  padding-right: 10px;
}
.waifu-button {
  font-size: 40px;
  //margin: 10px;
  padding: 10px;
  border-radius: 10px;
  button {
    &:hover{
      background-color: $bg;
      color: $fg;
    }
  }
}
.waifu-left {
  margin-left: 10px;
}
.waifu-right {
  margin-right: 10px;
}
.calendar {
  background-color: $bg;
  color: $saphire;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  //padding: 5px;
  margin-left: 20;
  calendar {
    &:selected {
      color: $magenta;
    }
  }
}
//calendar:selected {
//  color: $magenta;
//  font-weight: bold;
//}

calendar.header {
color: #a1bdce;
font-weight: bold;
}

calendar.button {
color: #afbea2;
}

calendar.highlight {
color: #a1bdce;
font-weight: bold;
}

calendar:indeterminate {
color: #bfc9db;
}
