.settings-title {
  color: $bg;
  background-color: $blue;
  padding: 5px;
  //border-radius: 10px;
  font-size: 30px;
}
.settings-scroll {
  font-family: "FiraCode Nerd Font Propo";
  font-size: 20px;
  color: $fg;
}
.settings-chapters {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 20px;
  font-weight: bold;
  padding-right: 20px;
}
.content-dark {
  background-color: $bg;
  padding-left: 30px;
}
.content-light {
  background-color: $alt;
  padding-left: 30px;
}
.gaps {
  color: $cyan;
  padding-left: 10px;
}
.gaps scale trough highlight {
  background-color: $cyan;
  border-radius: 50px;
  
}
.gaps scale trough {
  background-color: $bg;
  border-radius: 50px;
  min-height: 15px;
  min-width: 180px;
  //padding-left: 10px;
  //margin-right: 10px;
}
.gaps-text {
  padding-left: 10px;

}
