// Eww colors for catppuccin

$button-alt: $saphire;

window {
  font-family: "FiraCode Nerd Font Mono";
  font-size: 40px;
  border-radius: 10px;
  color: $saphire;
}



button {
  &:hover {
    background-color: $saphire;
    color: $bg;
    border-radius: 10px;
    transition-duration: 0.2s;
  &:active {
    background-color: $fg;
  }
  }
}
