.default-left {
  font-size: 15;
  background-color: $bg_dim;
  color: $fg;
  margin-top: 14px;
  border-right: 3px solid $gray1;
  //border-radius: 8px;
  //box-shadow: 0 0 4px 2px $black;
  //margin: 0px 0px 0px 0px;
}
.hot-apps-icon {
  font-size: 20;
}
