*{
  all: unset;
}
.powermenu-btns-box {
  font-size: 150px;
  background-color: $bg;
}
.pwr-mn-btn-shtdwn {
  color: $red;
}
.cls-pwr-mn-btn-wdgt {
  background-color: rgba($cyan, 0.1);
  font-size: 100px;
  padding-right: 0.2em;
  button {
    color: $red;
    &:hover {
      background-color: rgba($bg, 0.0);
      color: $saphire;
    }
  }
}
.powermenu-text {
  font-size: 70px;
  color: $bg;
  font-weight: bold;
}

